<%= form_tag(controller: "employees", action: "search") do %>

<div class='lft_mrgn_3'>
  <div class='clear_with_height'></div>
  <%= label_tag(:q, "Search for:") %>

  <%= text_field_tag(:q) %>

  <div class='clear_with_height'></div>

   <%= label_tag(:name, "Name:") %>

  <%= text_field_tag(:name) %>

  <div class='clear_with_height'></div>

  <%= check_box_tag(:pet_dog) %>
  <%= label_tag(:pet_dog, "I own a dog") %>
  <%= check_box_tag(:pet_cat) %>
  <%= label_tag(:pet_cat, "I own a cat") %>
  <div class='clear_with_height'></div>
  <%= radio_button_tag(:age, "child") %>
  <%= label_tag(:age_child, "I am younger than 21") %>
 <%= radio_button_tag(:age, "adult") %>
  <%= label_tag(:age_adult, "I'm over 21") %>
  <%= date_field(:user, :born_on) %>
 <%= button_tag("Search") %>

</div>

<% end %>
