<div class='btn-group pull-right user_details' id='<%= segment %>_btn'>
  <span>
    <% if obj.present? && obj.updated_at.present? && obj.segment.user.present? %>
      <i class='icon-user'></i> <%= obj.segment.user.username  %>
      <span> | <%= obj.updated_at.strftime("%m/%d/%Y") %></span>
    <% end %>
  </span>
  <span>
    <% unless current_party.published? %>
      <%= f.submit 'RESET', class: 'custom btn btn-default', id: 'reset_'+ segment %>
      <%= f.submit 'SAVE' , class: 'custom btn btn-default', id: 'save_'+ segment  %>
    <% end %>
  </span>
</div>