<% unless  @party.nil? %>

  <div class="row" style="background-color:#EEEEEE;padding:0px;padding-top:3px;">

    <div class="col-md-8">
        <span class="d-label">Type: </span><%= @party.media_type.name %>
    </div>

    <div class="col-md-4 text-right">
        <span class="d-label">Status: </span>
        <span class="label <%= @party.state_label %>">
            <%= @party.human_friendly_state %>
        </span>
        <span class="glyphicon glyphicon-step-forward"></span>
        <span class="label label-primary">
             <%= link_to @party.transition[1] , transition_state_path(@party.transition[0], hide_popup: true),
             :style => "color:white", data: {confirm: 'Are you sure?'} %>
        </span>
         &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"  title="Print View"><span class="glyphicon glyphicon-print"></span></a>&nbsp;
    </div>  

  </div>

  <div class="row" style="background-color:#EEEEEE;padding:0px;padding-bottom:3px;">
    <div class="col-md-12">
        <span class="d-label">MID: </span><%= @party.mid %>
        <span class="d-label">Name: </span> <%= @party.name %>
    </div>

  </div>

<% end %>

