<%= form_for(@location) do |f| %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :party_id %><br>
    <%= f.number_field :party_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
