%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu
      - if current_user.is_system_admin? || current_user.is_bank_admin?
        %li
          = link_to set_add_show_bank_link do
            %i.fa.fa-hospital-o
            %span= set_bank_label
      - if current_user.is_system_admin? || current_user.is_bank_admin? || current_user.is_banking_professional?
        %li
          = link_to banking_users_path do
            %i.fa.fa-users
            %span Banking Professionals
      - if current_user.is_system_admin? || current_user.is_cic_admin?
        %li
          = link_to ci_companies_path do
            %i.fa.fa-building-o
            %span CI Company
      - if current_user.is_system_admin? || current_user.is_cic_admin? || current_user.construction_inspector?
        %li
          = link_to company_inspectors_path  do
            %i.fa.fa-user
            %span Company Inspector