!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title InspectDate
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.skin-red
    .wrapper
      = render partial: 'layouts/header'
      = render partial: 'layouts/left_side_bar' if current_user.present?
      = yield 
